/*
*, h1, h2, h3, h4,h5,h6,p,span,div{
font-family: 'Open Sans', sans-serif;
margin: 0px;
padding: 0px;
}

body{*/
	/*background: #E5E1D1 url("../img/back.jpg") center center fixed repeat;
	background-size: 100%;*/
/*}

.container{
	width: 750px;
	margin:auto;
	text-align: center;
	background: #FFF;
	opacity: 0.95;
	padding: 40px 10px;
	border: 1px solid #CCC;
	box-shadow: 0px 0px 15px #CCC;
	margin-top: 40px;
}

h1{
	color: #C44741;
}

*/

/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #2d3f49; /*#3b4b54; #2d3f49 #aaa*/
	width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	/*color: #ffffff;*/
}

.container-fluid, .row {
	100%;
}

 /*@media (min-width: 992px) {*/
  .sidebar {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 1; /*changed from 1000 to 1*/
    display: block;
	overflow: auto;
    /*background-color: #dfdfdf; ccc*/
  }
 /*}*/

a {
	text-decoration: none;
	color: #337ab7; /*color: #00aed1;*/
}

a:hover {
	text-decoration: underline;
}

/*img {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}
*/
h1 {
	font-weight: bold;
	font-size: 2em;
}

.loading_div{
	display: block;
	margin: 10px 0px;
}
/*
input{
	padding: 10px;
	font-size: 22px;
	margin: 20px 0 0 0;
	border-radius: 20px;
	border: 2px solid #C44741;
	outline: none;
}
*/

.item{
	width: 190px; /* 400px */
	margin: auto;
	text-align: left;
	margin-top: 2px;
	background: #F2F2F2;
	padding: 2px;
	box-shadow: 0px 0px 5px #CCC;
}

.item.title{
	font-size: 18px;
	font-weight: bold;
}

.subtitle{
	font-size: 14px;
	color: #444;
}

.active{
	background-color: #fff;/* #C44741 */
	/*color:#f2f2f2;*/
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.form-accounts
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-accounts .form-accounts-heading, .form-accounts .checkbox
{
	margin-bottom: 10px;
}

.form-accounts .form-control
{
	position: relative;
	font-size: 16px;
	height: auto;
	margin: 10px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-accounts .form-control:focus
{
	z-index: 2;
}

.form-accounts input[type="text"]
{
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-accounts .btn-block{
	margin-top:10px;
	width:63px;
	float:right;
}
.btn-success {
	background-image : linear-gradient(to bottom, #2d3f49 0px, #26343f 100%);/*background-image : linear-gradient(to bottom, #00b299 0px, #009985 100%)*/
	
	background-color: #2d3f49;
	}
.btn-success {
    background-color: #2d3f49;
    border-color: #dfdfdf;/*#00b299*/
    color: #dfdfdf;
}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {
    background-color: #2d3f49;
    border-color: #dfdfdf;
    color: #dfdfdf;
}

.btn-success.disabled, .btn-success:disabled, .btn-success[disabled] {
    background-color: grey;
    border-color: #dfdfdf;
    background-image: none;
}

.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success:hover {
	background-image : linear-gradient(to bottom, #00b299 0px, #00b299 100%);
    background-color: #00b299;
    border-color: #009985;
    color: #ffffff;
}
.btn-success .badge {
    background-color: #00b299;
    color: #dfdfdf;
}

.appTable{
	margin:10px 30px;
}

.appTable table th {
    background-color: #658fc3;
    color: #ffffff;
    font-weight: normal;
    height: 15px;
    padding: 4px;
    text-align: center;
}

.appTable table tbody tr:nth-child(2n+1) {
    background-color:#eff4fc !important;
    border: 1px solid #dddddd;
    height: 16px;
    padding: 4px;
}

.appTable table tbody tr:nth-child(2n) {
    background-color:#ffffff !important;
    border: 1px solid #dddddd;
    height: 16px;
    padding: 4px;
}

.searchAppl{
	margin:10px 0;
}

.serachAlertData{
	padding-top:5px;
	padding-left:5px;
	list-style-type:none;
	/*background-image: linear-gradient(to bottom, #FFFFFF 0px, #DFDFDF 100%);*/
	background-color: #ffffff;
}

.serachAlertData li:hover{
	cursor:pointer;
	color:#000000;/*#5bc0de*/
}

.serachAlertData li{
	cursor:pointer;
	color:#000000;
	border-bottom:1px solid #000000;
}
.serachAlertData li a{
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
}
ul.serachAlertData li:before {
		 content: "\00BB";
}

.serachAdminData{
	padding-bottom:2px;
	padding-top:0px;
	padding-left:5px;
	list-style-type:none;
	width:387px;
	background-image: linear-gradient(to bottom, #337ab7 0px, #2e6da4 100%);
}

.serachAdminData li:hover{
	cursor:pointer;
	color:#5bc0de;
}

.serachAdminData li{
	cursor:pointer;
	color:#ffffff;
	border-bottom:1px solid #ffffff;
}
.serachAdminData li a{
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
}
ul.serachAdminData li:before {
		 content: "\00BB";
}
.loginHead{
	text-align:center;
}

a.disableamend  {
	color:grey !important;
	text-decoration:none;
	cursor:none;
}

.disableamend:hover{
	text-decoration:none;
}

a.disablemend  sidebarstlyle {color : #afbec7;}

.label-success { background-color: #00b299; color: #2d3f49;}

	 .ama-container-style {background-color:#FAFAFA;  padding: 10px; min-height: 570px;}		/*color: #000; border-radius: 5px; box-shadow: 5px 5px 5px #D8D8D8;*/		
	 .ama-panel-out { min-height: 435px; max-height: 435px; overflow: hidden; }
	 .ama-panel-in { min-height: 400px; max-height: 400px; overflow-y: scroll;  overflow-x: hidden;}
	 .ama-panel-content {min-height: 370px; max-height: 370px; overflow-y: scroll;  overflow-x: hidden;}
	 .tab-button-pos { float:right; position: absolute; top: 75px;right: 30px;}
	 .nav-tabs.nav-justified {width:50%;}
	.nav-tabs.nav-justified > li {
	  padding-bottom: 0 !important;
	}
	.nav-tabs.nav-justified > li > a {
	  margin-left: 2px ;
	  top: 1px;
	  border: none;
	  color: #555;
	  border-bottom: thick solid #dfdfdf;	
	}
	
	.nav-tabs.nav-justified > li > a:hover {
		
	  border-bottom: thick solid #00b299;
	}
	
	.nav-tabs.nav-justified > li:first-child > a {
	  margin-left: 0;	
	  color: #555;
	}
	
	.nav-tabs.nav-justified > li:first-child > a:hover{
	  border-bottom: thick solid #00b299;
	}

	.nav-tabs.nav-justified > li > a:link {
	  background: #dfdfdf;		
	  border-bottom: thick solid #dfdfdf;
	}

	.nav-tabs.nav-justified > li > a:active {
	  border-bottom: thick solid #fff;
	}
	
	.brand-client {
    color: #00b299 !important;
	}
	
	.brand-client a:hover {
    color: #FFFFFF;
	}
	
	 .ama-left-pane {background-color:#26343f; border-right:#CEECF5 0px solid;} /* background-color:#dfdfdf; */
	 .ama-right-pane { border-left:#ceecf5 0px solid; min-height: calc(100% - 50px); overflow: auto;} /*background-color:#313f4a; border-left:#CEECF5 0px solid;*/	 
	 .ama-pagination-panel { background-color: #f9f9f9; min-height: 355px; max-height: 355px; overflow: clip; } 
	 .ama-panel-style { background-color: #f9f9f9; min-height: 430px; max-height: 430px; overflow-y: scroll;  overflow-x: hidden;} /*min-height: 320px; max-height: 320px; overflow: hidden;*/ 	 	 
	 .sopCrudBox { background-color: #3b4b54; border: 0px solid #337ab7 ;  margin : 10px 0 0 0; padding:2px 0 6px; line-height: 10px; text-align:center; color: #00b299;} /*border-radius :6px; border: 1px solid #CEECF5; color: #afbec7 */	 
	 .sopCrudBox a {color : #00b299;}
	 .sopCrudBox a:hover{color : #00b299;}
	 .sopCrudBox-header {font-size: 1em; font-weight:normal; padding : 2px 0 0 0}
	 .alert-search { background-color: #3b4b54; border: 0px solid #337ab7; margin : 10px 0 0 0; padding:4px; line-height: 20px; text-align:left; height: 530px;} /*  border-radius :6px; border: 1px solid #CEECF5; */	 
	 .alert-search-box {color: #dfdfdf; margin:10px 0;}
	 .sop-username  {line-height:20px; font-weight:normal; color: #dfdfdf;} /*color: #337ab7  00aed1*/
	 .account-selection{float:left; color:black; padding:5px;}
	 .account-label {float:left; font-size: 1.3em; color: #dfdfdf; padding:5px;}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

#cronCreateTable th {
    padding: 4px 0px 4px 20px;
    font-weight:bold;
    color:#31708f;
}
#cronCreateTable td {
    padding: 2px 2px;
    text-align: left;
}
#cronCreateTableu th {
    padding: 4px 0px 4px 20px;
    font-weight:bold;
    color:#31708f;
}
#cronCreateTableu td {
    padding: 2px 2px;
    text-align: left;
}
.multiselcron{
	width:125px;
}
/*
#cke_14, #cke_21, #cke_29, #cke_34, #cke_87, #cke_84, #cke_176{
	display:none;
}
*/
.ui-dialog-titlebar-close{
	background-image: url("../images/close.png");
    background-position: 50% center;
    background-repeat: no-repeat;
}
.element-to-render {
    width: 540px;
    text-align: left;
    background: #ffffff;
    color:#000000;
    padding: 4px;
    border:1px solid black;
}

.disableClass{
	color: grey !important;
    cursor: none;
    text-decoration: none !important;
}

.hideClass{
    display: none;
}
	 
	 

.light-tooltip  + .tooltip > .tooltip-inner {
    background-color: #CEECF5; 
    color: #31708f; 
    border: 1px solid #31708f; 
}

.light-tooltip + .tooltip > .tooltip-arrow { 
	border-bottom-color:#31708f; 
}


    .login-state-page {
      width:600px;
      background-color:#eee; /*#FFF*/
      margin:2em auto 0 auto;
    }

    .login-state-page .header {
      padding:2em 2em 1em 2em;
    }

    .login-state-page  {
      position:relative;
      box-sizing:border-box;
      /*
      padding:0 2em 1em 2em;
	  float:left;
      left:10%;*/
    }
	.login-section {
      padding:0 2em 1em 2em;
      width:100%;
      position:relative;
      box-sizing:border-box;
      float:left;
    }
    
    .login-providers {
      float:left;
      /*font-size:0.75em;*/
      width:100%;
      padding: 0;
    }    
    
    
    .login-providers li {
      margin:0 0 1.2em 0;
    }

    .login-providers li:last-of-type {
      margin:0;
    }

    .login-providers li a {
      box-sizing:border-box;
      display:block;
      text-decoration: inherit;
      width:100%;
      border:1px solid #0077BB;
      padding:0.75em 0 0.75em 0;
      text-align:center;
    }  
    
#whitelistTableContent{
	margin:10px 30px;
}

#whitelistTableContent table th {
    background-color: #658fc3;
    color: #ffffff;
    font-weight: normal;
    height: 15px;
    padding: 4px;
    text-align: center;
}
#tableHumanActivities table th, #tableStartPath table th {
    background-color: #658fc3;
    color: #ffffff;
    font-weight: normal;
    height: 15px;
    padding: 4px;
    text-align: center;
}
#tableToMap table th {
    background-color: #658fc3;
    color: #ffffff;
    font-weight: normal;
    height: 15px;
    padding: 4px;
    text-align: center;
}
#tableToValue table th {
    background-color: #658fc3;
    color: #ffffff;
    font-weight: normal;
    height: 15px;
    padding: 4px;
    text-align: center;
}
#actorsTableToValue table th {
    background-color: #658fc3;
    color: #ffffff;
    font-weight: normal;
    height: 15px;
    padding: 4px;
    text-align: center;
}
#whitelistTableContent, #tableToMap table tbody > tr:nth-child(2n+1) {
    background-color:#eff4fc !important;
    border: 1px solid #dddddd;
    height: 16px;
    padding: 4px;
}

#whitelistTableContent, #tableToMap table tbody > tr:nth-child(2n) {
    background-color:#ffffff !important;
    border: 1px solid #dddddd;
    height: 16px;
    padding: 4px;
}
#tableStartPath table tbody > tr:nth-child(2n+1) {
    background-color:#eff4fc !important;
    border: 1px solid #dddddd;
    height: 16px;
    padding: 4px;
}

#tableStartPath table tbody > tr:nth-child(2n) {
    background-color:#ffffff !important;
    border: 1px solid #dddddd;
    height: 16px;
    padding: 4px;
}  
#tableChoreoData table th {
    background-color: #658fc3;
    color: #ffffff;
    font-weight: normal;
    height: 15px;
    padding: 4px;
    text-align: center;
}
#tableChoreoData table tbody > tr:nth-child(2n+1) {
    background-color:#eff4fc !important;
    border: 1px solid #dddddd;
    height: 16px;
    padding: 4px;
}

#tableChoreoData table tbody > tr:nth-child(2n) {
    background-color:#ffffff !important;
    border: 1px solid #dddddd;
    height: 16px;
    padding: 4px;
}
/* Changes for Story 160218 */
#sop-username:hover{
	background-color: #e8e8e8;
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
	background-image:linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	background-repeat: repeat-x;
}
/* Changes for Story 160218 */
.labelTxt{
	font:bold 13px verdana;
}
.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 3px; height: 3px; display: block; border: 1px solid black; position: absolute; top: 1px; right: 1px; cursor: pointer; }
.Treant .collapsed .collapse-switch { background-color: #868DEE; }
.Treant > .node img {	border: none; float: left; }
.chart { height: 159px; width: 250px; margin: 5px; margin: 5px auto; border: 3px solid #DDD; border-radius: 3px; }
.Treant > .node { color: #9CB5ED; border: 2px solid #C8C8C8; border-radius: 3px; }
.Treant > .node p { font-size: 20px; line-height: 20px; height: 20px; font-weight: bold; padding: 3px; margin: 0; }
