#mainView {
    margin: 30px auto;
    width: 700px;
}
#jsonTextarea {
    width: 700px;
    height: 300px;
}
.red {
    color: red;
}

/* inputs */
.jsonView select.form-control {
    margin: 0;
    padding: 0;
}
.jsonView select.form-control, .jsonView input.form-control {
    width: 100px;
    display: inline;
    height: 29px;
    padding-left: 5px;
}
.jsonView input[type="text"] {
    margin: 0;
    border: 0;
    background: none;
}
.jsonView input[type="checkbox"] {
    position: absolute;
}
.jsonView input.keyinput {
    font-weight: bold;
}
.jsonView input {
    height: 30px;
    margin: 0;
    padding: 0;
}
.jsonView input[type="text"].addItemKeyInput, .jsonView input[type="text"].addItemValueInput {
    border: 1px solid #ccc;
    background: white;
    margin-left: 0;
}
.jsonView .addItemKeyInput {
    font-weight: bold;
}

/* chevrons */
.jsonView .glyphicon-chevron-right, .jsonView .glyphicon-chevron-down {
    float: left;
    cursor: pointer;
    position: relative;
    top: 7px;
    right: 22px;
    margin-right: -15px;
}
.jsonView > json > .glyphicon-chevron-down {
    display: none;
}
/* add and delete */
.jsonView .addObjectItemBtn {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border: 0;
    height: 30px;
    display: block;
}
.jsonView .addObjectItemBtn i {
    display: block;
}
.jsonView .deleteKeyBtn, .jsonView .moveArrayItemBtn {
    float: right;
    margin-right: 10px;
    position: relative;
    top: 7px;
    z-index: 99999999999999;
    cursor: pointer;
}

/* basic layout */
.jsonView .jsonObjectKey {
    font-weight: bold;
}
.jsonContents {
    margin-left: 25px;
}
.jsonView .block {
    display: block;
}
.jsonView .jsonItemDesc {
    font-family: Georgia, serif;
    color: grey;
    font-style: italic;
    cursor: default;
    line-height: 30px
}
.jsonView .objectDesc {
    cursor: default;
}
/* first brace */
.jsonView > json > .jsonItemDesc {
    display: block;
    float: left;
    position: relative;
    bottom: 25px;
    height: 0;
    width: 0;
}

